*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  line-height: 1.5;
}
@media (min-width: 81.25em) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  body {
    font-size: clamp( 12px , 10.693877551px  +  0.4081632653vw , 16px );
  }
}
@media (max-width: 20em) {
  body {
    font-size: 12px;
  }
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  background-color: #302C42;
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 81.25em) {
  .wrapper {
    -webkit-padding-before: 50px;
            padding-block-start: 50px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .wrapper {
    -webkit-padding-before: clamp( 10px , -3.0612244898px  +  4.0816326531vw , 50px );
            padding-block-start: clamp( 10px , -3.0612244898px  +  4.0816326531vw , 50px );
  }
}
@media (max-width: 20em) {
  .wrapper {
    -webkit-padding-before: 10px;
            padding-block-start: 10px;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 81.25rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

.button {
  white-space: nowrap;
  color: #343045;
  font-weight: 700;
  text-align: center;
  border-radius: 2.6875rem;
  border: 0.125rem solid #302C42;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#8176AF), to(#C0B7E8));
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  -webkit-transition: border 0.6s, background 0.6s, color 0.6s;
  transition: border 0.6s, background 0.6s, color 0.6s;
}
@media (min-width: 81.25em) {
  .button {
    font-size: 12px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .button {
    font-size: clamp( 12px , 14.6530612245px  +  -0.2040816327vw , 14px );
  }
}
@media (max-width: 20em) {
  .button {
    font-size: 14px;
  }
}
@media (min-width: 81.25em) {
  .button--padding {
    padding-inline: 37px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .button--padding {
    padding-inline: clamp( 10px , 1.1836734694px  +  2.7551020408vw , 37px );
  }
}
@media (max-width: 20em) {
  .button--padding {
    padding-inline: 10px;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .button:hover {
    border: 0.125rem solid #fff;
    background: inherit;
    color: #fff;
  }
}
.button--arrow {
  position: relative;
}
.button--arrow::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 17.5rem;
  width: 2.625rem;
  height: 2.0625rem;
  background: url(../img/icons/arrow-small-right.svg) 0/contain no-repeat;
}
@media (max-width: 47.99875em) {
  .button--arrow::after {
    display: none;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .button--arrow:hover::after {
    translate: 3.125rem;
    -webkit-transition: translate 0.5s;
    transition: translate 0.5s;
  }
}
@media (max-width: 47.99875em) {
  .button--arrow {
    width: 100%;
  }
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}
@media (max-width: 47.99875rem) {
  .block-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 81.25em) {
  .block-header {
    margin-bottom: 100px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .block-header {
    margin-bottom: clamp( 20px , -6.1224489796px  +  8.1632653061vw , 100px );
  }
}
@media (max-width: 20em) {
  .block-header {
    margin-bottom: 20px;
  }
}
.block-header__title {
  line-height: 1.35;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-weight: 700;
}
@media (min-width: 81.25em) {
  .block-header__title {
    font-size: 36px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .block-header__title {
    font-size: clamp( 26px , 22.7346938776px  +  1.0204081633vw , 36px );
  }
}
@media (max-width: 20em) {
  .block-header__title {
    font-size: 26px;
  }
}
.block-header__title span {
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem 1.875rem;
}
.block-header__title span::after {
  content: "";
  width: 12.5rem;
  height: 2.1875rem;
  background: url(../img/icons/arrow-long-right.svg) center/cover no-repeat;
}
@media (max-width: 29.99875rem) {
  .block-header__title span::after {
    display: none;
  }
}
@media (max-width: 29.99875rem) {
  .block-header__title {
    text-align: center;
  }
}
.block-header__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  line-height: 1.35;
}
@media (max-width: 29.99875rem) {
  .block-header__text {
    display: none;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  -webkit-padding-before: 0.625rem;
          padding-block-start: 0.625rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 81.25em) {
  .header {
    -webkit-margin-after: 50px;
            margin-block-end: 50px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .header {
    -webkit-margin-after: clamp( 0.000001px , -16.3265292857px  +  5.1020407143vw , 50px );
            margin-block-end: clamp( 0.000001px , -16.3265292857px  +  5.1020407143vw , 50px );
  }
}
@media (max-width: 20em) {
  .header {
    -webkit-margin-after: 0.000001px;
            margin-block-end: 0.000001px;
  }
}
.header.active {
  backdrop-filter: blur(5px);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__buttons {
  z-index: 6;
}
@media (max-width: 50em) {
  .header__buttons {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.buttons__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0.625rem 2.375rem;
}
@media (max-width: 61.99875em) {
  .buttons__body {
    gap: 0.625rem 0.3125rem;
  }
}

.logo {
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}
.logo__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 81.25em) {
  .logo__image {
    -ms-flex-preferred-size: 102px;
        flex-basis: 102px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .logo__image {
    -ms-flex-preferred-size: clamp( 69px , 58.2244897959px  +  3.3673469388vw , 102px );
        flex-basis: clamp( 69px , 58.2244897959px  +  3.3673469388vw , 102px );
  }
}
@media (max-width: 20em) {
  .logo__image {
    -ms-flex-preferred-size: 69px;
        flex-basis: 69px;
  }
}
.logo__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 102/103;
}
.logo__name {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 81.25em) {
  .logo__name {
    -ms-flex-preferred-size: 76px;
        flex-basis: 76px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .logo__name {
    -ms-flex-preferred-size: clamp( 46px , 36.2040816327px  +  3.0612244898vw , 76px );
        flex-basis: clamp( 46px , 36.2040816327px  +  3.0612244898vw , 76px );
  }
}
@media (max-width: 20em) {
  .logo__name {
    -ms-flex-preferred-size: 46px;
        flex-basis: 46px;
  }
}
.logo__name > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 76/46;
}

.icon-menu {
  z-index: 6;
}
@media (min-width: 50em) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 50em) {
  .icon-menu {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    width: 2.0625rem;
    height: 1.625rem;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    height: 0.23125rem;
    width: 100%;
    right: 0;
    border-radius: 40px;
    background: -webkit-gradient(linear, left top, right top, color-stop(-15.79%, #C0B7E8), to(#8176AF));
    background: linear-gradient(90deg, #C0B7E8 -15.79%, #8176AF 100%);
  }
  .icon-menu span {
    width: 1.5625rem;
    top: 50%;
    translate: 0 -50%;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .open-menu .icon-menu span {
    width: 0;
  }
  .open-menu .icon-menu::before {
    top: 50%;
    rotate: -45deg;
    translate: 0 -55%;
  }
  .open-menu .icon-menu::after {
    rotate: 45deg;
    translate: 0 65%;
    bottom: 50%;
  }
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 61.99875em) {
  .menu-header__list {
    gap: 0.625rem 0.625rem;
  }
}
.menu-header__item a {
  padding-block: 0.1875rem;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .menu-header__item:hover a {
    text-shadow: 0.625rem 0.625rem 0.125rem #000000;
    scale: 1.2;
    translate: 0rem -0.3125rem;
    -webkit-transition: scale 0.3s, translate 0.3s, text-shadow 0.3s;
    transition: scale 0.3s, translate 0.3s, text-shadow 0.3s;
  }
  .menu-header__item:active a {
    text-shadow: 0.5rem 0.5rem 0.0625rem #000000;
    scale: 1.1;
    translate: 0rem -0.1875rem;
    -webkit-transition: scale 0.2s, translate 0.2s, text-shadow 0.2s;
    transition: scale 0.2s, translate 0.2s, text-shadow 0.2s;
  }
}

@media (max-width: 50em) {
  .menu {
    display: block;
    position: fixed;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 100%;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    overflow: auto;
    padding: 6.25rem 0.9375rem 0.625rem 0.9375rem;
    z-index: 5;
    background: #302C42;
  }
  .open-menu .menu {
    left: 0;
  }
  .menu .menu-header__list, .menu .buttons__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem 0.3125rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    font-size: 1.25rem;
  }
  .menu .menu-header__list {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 81.25em) {
  .page > *:not(:last-child) {
    margin-bottom: 90px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .page > *:not(:last-child) {
    margin-bottom: clamp( 20px , -2.8571428571px  +  7.1428571429vw , 90px );
  }
}
@media (max-width: 20em) {
  .page > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.hero__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 81.25em) {
  .hero__body {
    gap: 15px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .hero__body {
    gap: clamp( 5px , 1.7346938776px  +  1.0204081633vw , 15px );
  }
}
@media (max-width: 20em) {
  .hero__body {
    gap: 5px;
  }
}
@media (max-width: 29.99875rem) {
  .hero__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  -o-object-position: right;
     object-position: right;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.75rem;
          flex: 0 1 28.75rem;
}
@media (max-width: 29.99875rem) {
  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}
@media (min-width: 81.25em) {
  .hero__content > *:not(:last-child) {
    -webkit-margin-after: 36px;
            margin-block-end: 36px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .hero__content > *:not(:last-child) {
    -webkit-margin-after: clamp( 15px , 8.1428571429px  +  2.1428571429vw , 36px );
            margin-block-end: clamp( 15px , 8.1428571429px  +  2.1428571429vw , 36px );
  }
}
@media (max-width: 20em) {
  .hero__content > *:not(:last-child) {
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
  }
}
.hero__title {
  font-weight: 700;
  line-height: 1.25;
}
@media (min-width: 81.25em) {
  .hero__title {
    font-size: 40px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .hero__title {
    font-size: clamp( 24px , 18.7755102041px  +  1.6326530612vw , 40px );
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 24px;
  }
}
.hero__title span {
  background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 81.25em) {
  .hero__title span {
    font-size: 46px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .hero__title span {
    font-size: clamp( 32px , 27.4285714286px  +  1.4285714286vw , 46px );
  }
}
@media (max-width: 20em) {
  .hero__title span {
    font-size: 32px;
  }
}
@media (min-width: 81.25em) {
  .hero__text * {
    -webkit-margin-after: 60px;
            margin-block-end: 60px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .hero__text * {
    -webkit-margin-after: clamp( 15px , 0.306122449px  +  4.5918367347vw , 60px );
            margin-block-end: clamp( 15px , 0.306122449px  +  4.5918367347vw , 60px );
  }
}
@media (max-width: 20em) {
  .hero__text * {
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
  }
}
@media (max-width: 47.99875rem) {
  .hero__text {
    display: none;
  }
}
.hero__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.75rem;
          flex: 0 1 32.75rem;
  border-radius: 100px 100px 100px 240px;
  aspect-ratio: 1;
  background: rgba(0, 0, 0, 0.13);
}
@media (min-width: 81.25em) {
  .hero__image {
    padding: 15px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .hero__image {
    padding: clamp( 10px , 8.3673469388px  +  0.5102040816vw , 15px );
  }
}
@media (max-width: 20em) {
  .hero__image {
    padding: 10px;
  }
}
@media (max-width: 47.99875rem) {
  .hero__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.hero__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 490/426;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px 100px 100px 240px;
}

.contacts {
  position: relative;
}
.contacts__container {
  border-radius: 5.625rem;
  background: radial-gradient(50.13% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(192, 183, 232, 0.01);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(192, 183, 232, 0.01);
  position: relative;
}
@media (min-width: 81.25em) {
  .contacts__container {
    padding-block: 25px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .contacts__container {
    padding-block: clamp( 10px , 5.1020408163px  +  1.5306122449vw , 25px );
  }
}
@media (max-width: 20em) {
  .contacts__container {
    padding-block: 10px;
  }
}
@media (max-width: 65.625em) {
  .contacts__container {
    padding-inline: 2.1875rem;
  }
}
.contacts__prev, .contacts__next {
  position: absolute;
  top: 50%;
  z-index: 2;
  border-radius: 50%;
  width: 1.5625rem;
  aspect-ratio: 1;
  background: url(../img/icons/left01.svg) center no-repeat;
}
.contacts__prev {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.3125rem;
}
.contacts__next {
  rotate: 180deg;
  right: 0.3125rem;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.slider-contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-contacts__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}
.slider-contacts--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}
.slider-contacts--line::before, .slider-contacts--line::after {
  content: "";
  width: 0.0625rem;
  height: 7.3125rem;
  background: #615B7D;
}
@media (max-width: 65.625em) {
  .slider-contacts--line::before, .slider-contacts--line::after {
    display: none;
  }
}
.slider-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .slider-contacts__link:hover {
    color: #C0B7E8;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }
}
.slider-contacts__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
}
.slider-contacts__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 60/60;
}
.slider-contacts__title {
  font-weight: 700;
}
@media (min-width: 81.25em) {
  .slider-contacts__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .slider-contacts__title {
    font-size: clamp( 18px , 16.0408163265px  +  0.612244898vw , 24px );
  }
}
@media (max-width: 20em) {
  .slider-contacts__title {
    font-size: 18px;
  }
}
@media (max-width: 29.99875em) {
  .slider-contacts__title {
    display: none;
  }
}
.slider-contacts__text {
  font-size: 0.875rem;
}

.about__basic {
  position: relative;
}
.about__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: visible;
}
@media (max-width: 61.99875em) {
  .about__bg {
    display: none;
  }
}
.about__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 40.625rem) {
  .about__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.75rem;
          flex: 0 1 32.75rem;
  border-radius: 240px 100px;
  aspect-ratio: 1;
  background: #A3A3A3;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 47.99875rem) {
  .about__image {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 140px 60px;
  }
}
.about__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 524/557;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 240px 100px;
}
@media (max-width: 61.99875rem) {
  .about__image img {
    border-radius: 140px 60px;
  }
}
.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.375rem;
          flex: 0 1 39.375rem;
}
.about__title {
  font-weight: 700;
  line-height: 1.3;
}
@media (min-width: 81.25em) {
  .about__title {
    margin-bottom: 42px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .about__title {
    margin-bottom: clamp( 20px , 12.8163265306px  +  2.2448979592vw , 42px );
  }
}
@media (max-width: 20em) {
  .about__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 81.25em) {
  .about__title {
    font-size: 36px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .about__title {
    font-size: clamp( 24px , 20.0816326531px  +  1.2244897959vw , 36px );
  }
}
@media (max-width: 20em) {
  .about__title {
    font-size: 24px;
  }
}
.about__title span {
  font-weight: 300;
}
@media (max-width: 47.99875rem) {
  .about__title {
    display: none;
  }
}
@media (min-width: 81.25em) {
  .about__text {
    margin-bottom: 28px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .about__text {
    margin-bottom: clamp( 15px , 10.7551020408px  +  1.3265306122vw , 28px );
  }
}
@media (max-width: 20em) {
  .about__text {
    margin-bottom: 15px;
  }
}
@media (max-width: 47.99875rem) {
  .about__buttons {
    text-align: center;
  }
}
.whi {
  position: relative;
}
.whi__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: visible;
}
@media (max-width: 61.99875em) {
  .whi__bg {
    display: none;
  }
}
@media (max-width: 65.625rem) {
  .whi__services {
    padding-inline: 1.25rem;
  }
}
.whi__services {
  position: relative;
}
@media (min-width: 81.25em) {
  .whi__services {
    margin-bottom: 115px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .whi__services {
    margin-bottom: clamp( 20px , -11.0204081633px  +  9.693877551vw , 115px );
  }
}
@media (max-width: 20em) {
  .whi__services {
    margin-bottom: 20px;
  }
}

.services__prev, .services__next {
  position: absolute;
  top: 13.4375rem;
  z-index: 2;
  border-radius: 50%;
  border: 0.5625rem solid rgba(14, 14, 14, 0.32);
  width: 3.875rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__prev::before, .services__next::before {
  content: "";
  width: 2.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: url(../img/icons/shape.svg) center no-repeat, #8E84BB;
}
.services__prev.swiper-button-lock, .services__next.swiper-button-lock {
  display: none;
}
.services__prev {
  left: -0.625rem;
}
.services__next {
  rotate: 180deg;
  right: -0.625rem;
}
.services__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3125rem;
  -webkit-padding-before: 1.4375rem;
          padding-block-start: 1.4375rem;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
}
@media (any-hover: hover) and (any-pointer: fine) {
  .services__item:hover {
    -webkit-box-shadow: 0rem 0rem 0.625rem 0.3125rem #8E84BB inset;
            box-shadow: 0rem 0rem 0.625rem 0.3125rem #8E84BB inset;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  }
}
@media (max-width: 47.99875rem) {
  .services__item {
    gap: 0.625rem;
  }
}

.item-services__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.6875rem;
          flex: 0 1 13.6875rem;
  -ms-flex-item-align: center;
      align-self: center;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(28, 26, 39)), to(rgb(43, 39, 60)));
  background: linear-gradient(180deg, rgb(28, 26, 39) 0%, rgb(43, 39, 60) 100%);
  padding: 0.9375rem;
}
.item-services__image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  aspect-ratio: 191;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-services__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1.5625rem;
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}
@media (max-width: 47.99875rem) {
  .item-services__content {
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
  }
}
.item-services__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1.09375rem;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .item-services__title:hover {
    color: #C0B7E8;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }
}
.item-services__text {
  font-size: 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.1875rem;
  gap: 1.34375rem;
}
@media (max-width: 47.99875rem) {
  .item-services__text {
    gap: 0.625rem;
  }
}
.item-services__text::before {
  content: "";
  width: 9.6875rem;
  height: 0.0625rem;
  background: #635E80;
}
@media (max-width: 47.99875rem) {
  .item-services__button {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
}

.technologies__header {
  position: relative;
}
.technologies__title {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.25;
}
@media (min-width: 81.25em) {
  .technologies__title {
    -webkit-padding-before: 100px;
            padding-block-start: 100px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .technologies__title {
    -webkit-padding-before: clamp( 50px , 33.6734693878px  +  5.1020408163vw , 100px );
            padding-block-start: clamp( 50px , 33.6734693878px  +  5.1020408163vw , 100px );
  }
}
@media (max-width: 20em) {
  .technologies__title {
    -webkit-padding-before: 50px;
            padding-block-start: 50px;
  }
}
@media (min-width: 81.25em) {
  .technologies__title {
    -webkit-padding-after: 100px;
            padding-block-end: 100px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .technologies__title {
    -webkit-padding-after: clamp( 50px , 33.6734693878px  +  5.1020408163vw , 100px );
            padding-block-end: clamp( 50px , 33.6734693878px  +  5.1020408163vw , 100px );
  }
}
@media (max-width: 20em) {
  .technologies__title {
    -webkit-padding-after: 50px;
            padding-block-end: 50px;
  }
}
.technologies__title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 81.25em) {
  .technologies__title h2 {
    row-gap: 10px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .technologies__title h2 {
    row-gap: clamp( 10px , 15.306122449px  +  -0.4081632653vw , 14px );
  }
}
@media (max-width: 20em) {
  .technologies__title h2 {
    row-gap: 14px;
  }
}
.technologies__title strong {
  font-weight: 700;
}
@media (min-width: 81.25em) {
  .technologies__title strong {
    font-size: 36px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .technologies__title strong {
    font-size: clamp( 16px , 9.4693877551px  +  2.0408163265vw , 36px );
  }
}
@media (max-width: 20em) {
  .technologies__title strong {
    font-size: 16px;
  }
}
.technologies__title span {
  font-weight: 300;
}
@media (min-width: 81.25em) {
  .technologies__title span {
    font-size: 36px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .technologies__title span {
    font-size: clamp( 24px , 20.0816326531px  +  1.2244897959vw , 36px );
  }
}
@media (max-width: 20em) {
  .technologies__title span {
    font-size: 24px;
  }
}
.technologies__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10rem;
  -webkit-box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
          box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
}
@media (max-width: 47.99875rem) {
  .technologies__bg {
    border-radius: 3.75rem;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.technologies__button {
  position: absolute;
  bottom: -3.75rem;
  left: 50%;
  translate: -50%;
  z-index: 5;
  border-radius: 50%;
  border: 0.9375rem solid rgba(14, 14, 14, 0.32);
  width: 6.25rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: rotate 0.5s;
  transition: rotate 0.5s;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}
.technologies__button::before {
  content: "";
  rotate: 180deg;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: url(../img/icons/shape_down.svg) center no-repeat, #8E84BB;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .technologies__button:hover {
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 65.625em) {
  .technologies__button {
    display: none;
  }
}
.technologies__button.active {
  rotate: 180deg;
}
@media (min-width: 81.25em) {
  .technologies__body {
    padding-top: 50px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .technologies__body {
    padding-top: clamp( 20px , 10.2040816327px  +  3.0612244898vw , 50px );
  }
}
@media (max-width: 20em) {
  .technologies__body {
    padding-top: 20px;
  }
}
@media (max-width: 65.625em) {
  .technologies__body {
    padding-inline: 4.0625rem;
    position: relative;
  }
}
@media (min-width: 65.625em) {
  .technologies__body {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .technologies__body.active {
    height: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: height 0.5s, opacity 0.5s;
    transition: height 0.5s, opacity 0.5s;
  }
}
.technologies__prev, .technologies__next {
  position: absolute;
  top: 50%;
  z-index: 2;
  border-radius: 50%;
  border: 0.5625rem solid rgba(14, 14, 14, 0.32);
  width: 3.875rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.technologies__prev::before, .technologies__next::before {
  content: "";
  width: 2.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: url(../img/icons/shape.svg) center no-repeat, #8E84BB;
}
.technologies__prev.swiper-button-lock, .technologies__next.swiper-button-lock {
  display: none;
}
.technologies__prev {
  left: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.technologies__next {
  rotate: 180deg;
  right: 0rem;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.technologies__item {
  opacity: 0.36;
}
.technologies__item--padding {
  padding: 2.5rem;
}
@media (min-width: 81.25em) {
  .technologies__item--padding {
    padding: 40px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .technologies__item--padding {
    padding: clamp( 10px , 0.2040816327px  +  3.0612244898vw , 40px );
  }
}
@media (max-width: 20em) {
  .technologies__item--padding {
    padding: 10px;
  }
}
.technologies__item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .technologies__item:hover {
    opacity: 1;
    scale: 0.9;
    -webkit-transition: opacity 0.4s, scale 0.4s;
    transition: opacity 0.4s, scale 0.4s;
  }
}

.how {
  overflow: hidden;
  position: relative;
}
.how__bg {
  position: absolute;
  top: 2.5rem;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: visible;
}
@media (max-width: 61.99875em) {
  .how__bg {
    display: none;
  }
}
@media (max-width: 65.625em) {
  .how .how__body {
    padding-inline: 4.0625rem;
    position: relative;
  }
}
.how .how__prev, .how .how__next {
  position: absolute;
  top: 15rem;
  z-index: 2;
  border-radius: 50%;
  border: 0.5625rem solid rgba(14, 14, 14, 0.32);
  width: 3.875rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how .how__prev::before, .how .how__next::before {
  content: "";
  width: 2.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: url(../img/icons/shape.svg) center no-repeat, #8E84BB;
}
.how .how__prev.swiper-button-lock, .how .how__next.swiper-button-lock {
  display: none;
}
.how .how__prev {
  left: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.how .how__next {
  rotate: 180deg;
  right: 0rem;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.how .how__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-bottom: 1.875rem;
}
.how .how__step {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10rem;
          flex: 0 1 10rem;
  border: 1.25rem solid rgba(14, 14, 14, 0.32);
  border-radius: 50%;
  aspect-ratio: 1;
}
.how .how__step p {
  line-height: 1.25;
  font-size: 4rem;
  font-weight: 700;
  color: #343045;
  text-align: center;
  padding: 2.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background: #8176AF;
}
@media (min-width: 81.25em) {
  .how .how__step p {
    padding: 40px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .how .how__step p {
    padding: clamp( 20px , 13.4693877551px  +  2.0408163265vw , 40px );
  }
}
@media (max-width: 20em) {
  .how .how__step p {
    padding: 20px;
  }
}
.how .how__title {
  max-width: 15.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 61.99875em) {
  .how .how__title {
    text-align: center;
  }
}
.how .how__title::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  aspect-ratio: 1;
  background: url(../img/icons/small-right.svg) center no-repeat;
}
@media (max-width: 61.99875em) {
  .how .how__title::before {
    display: none;
  }
}
.registration__container {
  border-radius: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding-block: 5.625rem;
}
.registration__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  margin-bottom: 4.0625rem;
}
@media (min-width: 81.25em) {
  .registration__header {
    font-size: 36px;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  .registration__header {
    font-size: clamp( 24px , 20.0816326531px  +  1.2244897959vw , 36px );
  }
}
@media (max-width: 20em) {
  .registration__header {
    font-size: 24px;
  }
}
@media (max-width: 47.99875em) {
  .registration__header {
    margin-bottom: 2.1875rem;
  }
}
.registration__title {
  font-weight: 700;
}
.registration__subtitle {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3125rem;
}
.registration__subtitle::before {
  content: "";
  width: 25.9375rem;
  height: 0.0625rem;
  background: radial-gradient(circle, rgb(177, 168, 218) 0%, rgb(52, 48, 69) 100%);
}
.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2.0625rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  max-width: 66.875rem;
  margin: 0 auto;
}

.form__first-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.8125rem;
          flex: 0 1 32.8125rem;
}
.form__input, .form__textarea {
  min-height: 4.375rem;
  padding-inline: 2.8125rem;
  border-radius: 40px;
  border: 2px solid #FFF;
}
.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: #fff;
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  color: #fff;
}
.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: #fff;
}
.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: #fff;
}
.form__input::placeholder, .form__textarea::placeholder {
  color: #fff;
}
.form__input:focus-visible, .form__textarea:focus-visible {
  outline: 0;
  border: 2px solid #8176AF;
  -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem #8176AF;
          box-shadow: 0rem 0rem 0.3125rem 0.125rem #8176AF;
}
.form__input:focus-visible::-webkit-input-placeholder, .form__textarea:focus-visible::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input:focus-visible::-moz-placeholder, .form__textarea:focus-visible::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input:focus-visible:-ms-input-placeholder, .form__textarea:focus-visible:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input:focus-visible::-ms-input-placeholder, .form__textarea:focus-visible::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input:focus-visible::placeholder, .form__textarea:focus-visible::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .form__input:hover, .form__textarea:hover {
    border: 2px solid #8176AF;
    -webkit-box-shadow: 0rem 0rem 0.3125rem 0.125rem #8176AF;
            box-shadow: 0rem 0rem 0.3125rem 0.125rem #8176AF;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }
}
.form__textarea {
  padding-block: 1.6875rem;
}
.form__last-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.8125rem;
          flex: 0 1 32.8125rem;
}
.form__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.8125rem;
          flex: 0 1 32.8125rem;
}
.form__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.8125rem;
          flex: 0 1 32.8125rem;
}
.form__subject {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.form__something {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.form__something textarea {
  min-height: 13.75rem;
  resize: vertical;
}
.footer__container {
  position: relative;
}
.footer__bg {
  position: absolute;
  top: 2.5rem;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: visible;
}