@import url("nullstyle.css");
/* @import url("fonts.css"); */

.wrapper {
   font-family:"Poppins", sans-serif;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

[class*="__container"]  {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0px 15px;
}
main {
   flex-grow: 1;
}


/* ------------------------------------------------------- */
.products__body {
   padding: 60px 0px;
}
.products__header-block {
}
.header-block {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   margin-bottom: 32px;
}
@media (max-width: 767.98px) {
   .header-block { 
      flex-wrap: wrap;
      margin-bottom: 25px;
   }
}
@media (max-width: 425px) {
   .header-block { 
      margin-bottom: 15px;
   }
}
.header-block__title {
   font-size: 34px;
   font-weight: 600;
   line-height: 1.2;
}
@media (max-width: 767.98px){
      .header-block__title {
         font-size: 24px;
   }
}
.header-block__button{
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   color: #00B207;
   display: flex;
   align-self: center;
   gap: 12px;
}
.header-block__button::after {
   content: '';
   background: url(../img/products/product.icons/arrow.svg) center no-repeat;
   width: 20px;
   height: 20px;
}
.items-products {
   display: flex;
   flex-wrap: wrap;

}
.products__item {

}
.item-products {
   flex: 0 1 20%;
   display: flex;
   flex-direction: column;
   position: relative;
   border: 1px solid #E6E6E6;
   transition: all 0.5s;
}
@media (max-width: 991.98px) {
   .item-products {
      flex: 1 1 50%;
   }
}
@media (max-width: 405px) {
   .item-products {
      flex: 1 1 100%;
   }
}


.item-products__label {
   font-size: 14px;
   line-height: 1.5;
   color: #fff;
   display: inline-flex;
   align-self: start;
   padding: 3px 8px;
   gap: 4px;
   background: #EA4B48;
   border-radius: 4px;
   position: absolute;
   top: 16px;
   left: 16px;
}
.item-products__action {
   position: absolute;
   top: 16px;
   right: 16px;
   display: flex;
   flex-direction: column;
   gap: 6px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s;
}
@media (max-width: 991.98px){
      .item-products__action {
            opacity: 1;
            visibility: visible;
      }
}
@media (max-width: 600px){
      .item-products__action {
         top: 5px;
         right: 5px;
      }
}
.item-products__wishlist {
   width: 40px;
   height: 40px;
   border: 1px solid #F2F2F2;
   border-radius: 50%;
   background: url(../img/products/product.icons/heart.black.svg) center no-repeat, #fff;
   transition: all 0.5s;
}
.item-products__view {
   width: 40px;
   height: 40px;
   border: 1px solid #F2F2F2;
   border-radius: 50%;
   background: url(../img/products/product.icons/eye.black.svg) center no-repeat, #fff;
   transition: all 0.5s;
}
.item-products__link {
      flex-grow: 1;
}
.item-products__image {
   width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 254 / 230;
   padding: 5px;

}
.item-products__about {
   padding: 12px;
}
.item-products__info {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
   padding-right: 4px;
}
.item-products__name {
   font-size: 14px;
   line-height: 1.5;
   color: #4D4D4D;
   max-width: 190px;
}
.item-products__price {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   color: #1A1A1A;
   display: flex;
   gap: 2px;
}
@media (max-width: 500px){
   .item-products__price {
      flex: 1 1 100%;
   }
}
.item-products__old {
   color: #999;
   text-decoration: line-through;
}
.item-products__cart {
   width: 40px;
   height: 40px;
   border: 1px solid #F2F2F2;
   border-radius: 50%;
   background: url(../img/products/product.icons/bag.black.svg) center no-repeat, #fff;
   margin-top: -10px;
   transition: all 0.5s;
}
@media (max-width: 500px){
   .item-products__cart {
      flex: 1 1 100%;
      border-radius: 4px;
   }
}
/* ------------------------------------------------------- */
.item-products__rating {
   display: flex;
}
.item-products__star {
   background: url(../img/products/product.icons/Star.gray.svg) center no-repeat;
   width: 12px;
   height: 12px;
   transition: all 0.4s;
}
.item-products__star:hover {
   background: url(../img/products/product.icons/Star.yellow.svg) center no-repeat;
}
/* ------------------------------------------------------- */

.item-products:hover .item-products__action {
   opacity: 1;
   visibility: visible;
}
.item-products:hover  {
   border: 1px solid #00B207;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}
.item-products:hover .item-products__name {
   color: #2C742F;
}
.item-products:hover .item-products__cart {
   background: url(../img/products/product.icons/bag.white.svg) center no-repeat, #00B207;
}
.item-products__cart:hover {
   background: url(../img/products/product.icons/bag.white.svg) center no-repeat, #2C742F;
}
.item-products__wishlist:hover {
   background: url(../img/products/product.icons/heart.white.svg) center no-repeat, #00B207;
}
.item-products__view:hover {
   background: url(../img/products/product.icons/eye.white.svg) center no-repeat, #00B207;
}
.header-block__button:hover {
   text-decoration: underline;
}
@media (any-hover: none) {
   .item-products:hover .item-products__cart {
   background: url(../img/products/product.icons/bag.white.svg) center no-repeat, #00B207;
}
}
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* ------------------------------------------------------- */


