@import url("nullstyle.css");
/* @import url("fonts.css"); */

.wrapper {
   font-family:"Poppins", sans-serif;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

[class*="__container"]  {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0px 15px;
}
main {
   flex-grow: 1;
}
/* ------------------------------------------------------- */
.products__body {
   padding: 30px 0px 30px 0px;
}
@media (max-width: 991.98px){
   .products__body {
   padding: 40px 0px;
}
}
@media (max-width: 767.98px){
   .products__body {
   padding: 20px 0px;
}
}
.products__header-block {
}
.header-block {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   margin-bottom: 32px;
}
@media (max-width: 767.98px) {
   .header-block { 
      flex-wrap: wrap;
      margin-bottom: 25px;
   }
}
@media (max-width: 425px) {
   .header-block { 
      margin-bottom: 15px;
   }
}
.header-block__title {
   font-size: 34px;
   font-weight: 600;
   line-height: 1.2;
}
@media (max-width: 767.98px){
      .header-block__title {
         font-size: 24px;
   }
}
._button {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   color: #00B207;
   display: flex;
   gap: 12px;
}
.header-block__button {
   align-self: center;
}
._button::after {
   content: '';
   background: url(../img/products/product.icons/arrow.svg) center no-repeat;
   width: 20px;
   height: 20px;
   align-self: center;

}
@media (any-hover: hover){
.header-block__button:hover {
   text-decoration: underline;
}
}
.items-products {
   display: flex;
   flex-wrap: wrap;
}

.products-item {
   position: relative;
   border: 1px solid #E6E6E6;
   margin: 0 -1px -1px 0;
   flex: 1 0 calc(19.9998% + 1px);
   display: flex;
   flex-direction: column;
   transition: all 0.5s;
}
.products-item::before {
   position: absolute;
   top: -1px;
   left: -1px;
   right: -1px;
   z-index: 2;
   height: 100%;
   border: 1px solid #00B207;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   pointer-events: none;
   opacity: 0;
   content: '';
   transition: opacity 0.5s;
}

@media (max-width: 1023.98px) {
   .products-item {
      flex: 1 1 33.333%;
   }
}
@media (max-width: 767.98px) {
   .products-item {
      flex: 1 1 50%;
   }
}
@media (max-width: 420px) {
   .products-item {
      flex: 1 1 100%;
   }
}
@media (any-hover: hover){
   .products-item:hover::before  {
   opacity: 1;
}
}

@media (any-hover: hover){
   .products-item:hover .products-item__cart {
   background: url(../img/products/product.icons/bag.white.svg) center no-repeat, #00B207;
}
}
.products-item__label {
   font-size: 14px;
   line-height: 1.5;
   color: #fff;
   display: inline-flex;
   align-self: start;
   padding: 3px 8px;
   gap: 4px;
   background: #EA4B48;
   border-radius: 4px;
   position: absolute;
   top: 16px;
   left: 16px;
}
.products-item__action {
   position: absolute;
   top: 16px;
   right: 16px;
   display: flex;
   flex-direction: column;
   gap: 6px;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s;
}
@media (any-hover: hover){
.products-item:hover .products-item__action {
   opacity: 1;
   visibility: visible;
}
}
@media (any-hover: none){
.products-item__action {
   opacity: 1;
   visibility: visible;
}
}
@media (max-width: 991.98px){
      .products-item__action {
         top: 5px;
         right: 5px;
      }
}
.products-item__wishlist {
   width: 40px;
   height: 40px;
   border: 1px solid #F2F2F2;
   border-radius: 50%;
   background: url(../img/products/product.icons/heart.black.svg) center no-repeat, #fff;
   transition: background 0.5s;
}
.products-item__view {
   width: 40px;
   height: 40px;
   border: 1px solid #F2F2F2;
   border-radius: 50%;
   background: url(../img/products/product.icons/eye.black.svg) center no-repeat, #fff;
   transition: background 0.5s;
}
.products-item__wishlist:hover {
   background: url(../img/products/product.icons/heart.white.svg) center  no-repeat, #00B207;
}
.products-item__view:hover {
   background: url(../img/products/product.icons/eye.white.svg) center no-repeat, #00B207;
}
.products-item__content {
   padding: 5px;
}
.products-item__image {
   width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 254 / 230;
}
.products-item__about {
   padding: 12px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.products-item__name {
   font-size: 14px;
   line-height: 1.5;
   color: #4D4D4D;
   max-width: 190px;
   flex-grow: 1; 
}
@media (max-width: 767.98px){
   .products-item__name {
      font-size: 18px;
   }
}
@media (any-hover: hover){
.products-item__name a:hover  {
   color: #2C742F;
}
}

.products-item__info {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px;
   padding-right: 4px;
}
@media (max-width: 767.98px){
   .products-item__info {
      gap: 5px;
      padding-right: 0;
   }
}
.products-item__price {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   color: #1A1A1A;
   display: flex;
   flex-wrap: wrap;
   gap: 2px;
}
@media (max-width: 500px){
   .products-item__price {
      flex: 1 1 50%;
   }
}
.products-item__old {
   color: #999;
   text-decoration: line-through;
}
.products-item__rating-mobile {
   display: flex;
   gap: 4px;
   align-items: center;
}
.products-item__rating-mobile::before {
   content: '';
   width: 20px;
   height: 20px;
   background: url(../img/products/product.icons/Star.yellow.svg) center / contain no-repeat;
}
.products-item__rating-mobile {
   display: none;
}
@media (max-width: 767.98px){
   .products-item__rating-mobile  {
      display: flex;
}
}
.products-item__cart {
   width: 40px;
   height: 40px;
   border: 1px solid #F2F2F2;
   border-radius: 50%;
   background: url(../img/products/product.icons/bag.black.svg) center no-repeat, #fff;
   margin-top: -10px;
   transition: background 0.5s;
}
@media (any-hover: none){
   .products-item__cart {
   background: url(../img/products/product.icons/bag.white.svg) center no-repeat, #00B207;
}
}
@media (any-hover: hover){

}
@media (max-width: 767.98px){
   .products-item__cart {
      flex: 1 1 100%;
      border-radius: 4px;
      margin-top: 0;
   }
}
/* ------------------------------------------------------- */
.products-item__rating {
   display: flex;
}

@media (max-width: 767.98px){
   .products-item__rating  {
      display: none;
}
}

.products-item__star {
   background: url(../img/products/product.icons/Star.gray.svg) center no-repeat;
   width: 12px;
   height: 12px;
   transition: background 0.4s;
}
.products-item__star:hover {
   background: url(../img/products/product.icons/Star.yellow.svg) center no-repeat;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
.page__news {
}
.news {

}
.news__container {
}
.news__body {
   padding: 30px 0px 30px 0px;
}
.news__header-block {
   justify-content: space-around;
}
.header-block {
   
}
.header-block__title {

}
.news__columns {
}
.columns {
   display: flex;
   gap: 24px;
   flex-wrap: wrap;
}
.column {
   flex: 0 1 calc(100% / 3 - ((24px * (3 - 1)) / 3));
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   border-left: 1px solid #E6E6E6;
   border-right: 1px solid #E6E6E6;
   border-bottom: 1px solid #E6E6E6;
   transition: all 0.5s;
}

@media (max-width: 1145px){
   .column {
   flex: 1 1 calc(50% / 3 - ((18px * (2 - 1)) / 2));
   }
}
@media (any-hover: hover ){
   .column:hover {
      box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
   }
}
@media (any-hover: hover){
   .column:hover .column__button{
   animation: read-more 1s linear infinite ;}
}
@keyframes read-more {
   0% {

   }
   30% {
      transform: rotateZ(3deg);
   }
   60% {
      transform: rotateZ(-3deg);
   }
   100% {

   }
}
@media (any-hover: none){
   .column__button{
   animation: read-more 2s linear infinite ;}
}
.column__content {
   position: relative;
}
.column__date {
   border-radius: 4px;
   background: var(--Gray-Scale-White, #FFF);
   font-weight: 500;
   width: 58px;
   height: 58px;
   position: absolute;
   left: 24px;
   bottom: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
@media (max-width: 767.98px){
   .column__date {
      height: 45px;
      width: 45px;
   }
}
.column__number {
   font-size: 20px;
}
.column__month {
   color: #808080;
   text-transform: uppercase;
   letter-spacing: 0.36px;
   font-size: 12px;
}
.column__image {
   width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 424 / 324;
}
.column__preview {
   padding: 24px;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
@media (max-width: 767.98px){
   .column__preview {
      padding: 10px;
   }
}
.column__meta {
   display: flex;
   flex-wrap: nowrap;
   gap: 16px;
   margin-bottom: 8px;
   font-size: 14px;
   line-height: 1.5;
   color: #666;
   white-space: nowrap;
}
@media (max-width: 767.98px){
   .column__meta {
      gap: 5px;
   }
}
.column__category {
   display: flex;
   gap: 4px;
   align-items: center;
   color: #808080;
}
.column__category::before {
   content: '';
   background: url(../img/news/news.icons/food.svg) center no-repeat;
   width: 20px;
   height: 20px;
}
@media (max-width: 767.98px){
   .column__category {
      flex-wrap: wrap;
      justify-content: center;
   }
}
.column__by {
   display: flex;
   gap: 4px;
   align-items: center;
}
.column__by span{
   color: #808080;
}
@media (max-width: 767.98px){
      .column__by {
      flex-wrap: wrap;
      justify-content: center;
   }
}
.column__by::before {
   content: '';
   background: url(../img/news/news.icons/admin.svg) center no-repeat;
   width: 20px;
   height: 20px;
}
.column__comments {
   display: flex;
   gap: 4px;
   align-items: center;
}
.column__comments span {
   color: #808080;
}
.column__comments::before {
   content: '';
   background: url(../img/news/news.icons/comments.svg) center no-repeat;
   width: 20px;
   height: 20px;
}
@media (max-width: 767.98px){
      .column__comments {
      flex-wrap: wrap;
      justify-content: center;
   }
}
.column__title {
   font-size: 18px;
   font-weight: 500;
   line-height: 1.5;
   flex-grow: 1;
   margin-bottom: 20px;
}
@media (max-width: 767.98px){
   .column__title  {
      line-height: 1.2;
      font-size: 16px;
   }
}
@media (any-hover: hover){
   .column__title a:hover {
      color: #2C742F;
   }
}
@media (max-width: 1199.98px){
   .column__title {
      margin-bottom: 10px;
   }
}
.column__button {
   font-weight: 600;
   line-height: 1.2;
}
@media (any-hover: hover){
   .column__button:hover {
      transform: scale(1.1);
      color: #00b206c5;
   }
}
@media (any-hover: none){
   .column__button:hover {
      color: #00b206;
   }
}
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* ------------------------------------------------------- */


