@import url("nullstyle.css");
/* @import url("fonts.css"); */

.wrapper {
   font-family:"Montserrat", sans-serif;
   font-size: 13px;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
}

[class*="__container"]  {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0px 15px;
}
main {
   flex-grow: 1;
}


/* ------------------------------------------------------- */

.header {
   background: rgba(255, 255, 255, 0.60);
   backdrop-filter: blur(113.6500015258789px);
   position: sticky;
   z-index: 5;
}
.header__container {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   padding-bottom: 30px;
   align-items: center;
   gap: 10px;
   min-height: 97px;
}
.logo-header__link {
   display: inline-flex;
   align-items: center;
   gap: 6px;
}
.logo-header__text {
   font-size: 18px;
   font-weight: 700;
   line-height: 1.5;
   text-transform: uppercase;
   flex: 0 0 170px;
}
.menu-header__list {
   display: flex;
   justify-content: space-between;
   gap: 30px;
   text-transform: uppercase;
   font-weight: 500;
   line-height: 1.5;
   white-space: nowrap;
}
@media (any-hover: hover){
   .menu-header__item:hover {
   color: #F7941D;
   transition: color 0.5s;
}
}

.header__button {
   background: #F26522;
   border-radius: 999px;
   padding: 8px 30px;
   cursor: pointer;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
@media (any-hover: hover){
.header__button:hover {
   background: #F7941D;
   transition: background 0.5s;
}
}
.button-header__text {
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   white-space: nowrap;
}
.button-header__text::after {
   content: '';
   width: 24px;
   height: 24px;
   background: url(../img/arrow.svg) center no-repeat;
}
.icon-menu {
   display: none;
}
.burger-header {
   display: none;
}
.button-burger {
   background: #F26522;
   border-radius: 9px;
   padding: 8px 20px;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.button-burger__text {
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
}
.button-burger__text::after {
   content: '';
   width: 24px;
   height: 24px;
   background: url(../img/arrow.svg) center no-repeat;
}
@media (max-width: 991.98px){
   .header__container {
      min-height: 65px;
      padding-top: 10px;
      padding-bottom: 10px;
   }
   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      position: relative;
      background: inherit;
   }
   .icon-menu::before,
	.icon-menu::after,
	.icon-menu span { 
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		left: 0;
		background-color: #F26522;
	}
	.icon-menu::before {
		top: 0;
      transition: all 0.3s;
	}
	.icon-menu::after {
		bottom: 0;
      transition: all 0.3s;
	}
	.icon-menu span {
		top: 50%;
		transform: translateY(-50%);
	}
   .menu-open .icon-menu span {
      width: 0;
   }
   .menu-open .icon-menu::before {
		top: 50%;
		transform: rotate(-45deg) translateY(-2px);
	}
	.menu-open .icon-menu::after {
		bottom: 50%;
		transform: rotate(45deg) translateY(2px);
	}
   .menu-header__list li:nth-child(5) {
      display: none;
   }
   .burger-header {
      overflow: auto;
      display: block;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 6;
      max-width: 240px;
      min-width: 170px;
      height: 350px;
      padding: 67px 15px 20px 15px;
      transition: all 0.5s;
   }
   .burger-header__list {
      background: rgba(255, 255, 255, 0.60);
      backdrop-filter: blur(113.6500015258789px);
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.5;
      padding: 10px 15px;
   }
   .menu-open .burger-header {
      opacity: 1;
      visibility: visible;
      right: -15px;
   }
      .header__logo {
      position: relative;
      z-index: 7;
   }
   .header__menu {
      position: relative;
      z-index: 7;
   }
   .header__button {
      position: relative;
      z-index: 7;
   }
   .icon-menu {
      position: relative;
      z-index: 7;
   }
   .burger-header__list li {
      display: none;
   }
   .burger-header__list li:nth-child(5) {
      display: block;
   }
}
@media (max-width: 880px){
   .menu-header__list li:nth-child(4) {
   display: none;
   }
   .burger-header__list li:nth-child(4) {
      display: block;
   }
}
@media (max-width: 800px){
   .menu-header__list li:nth-child(3) {
   display: none;
   }
   .burger-header__list li:nth-child(3) {
      display: block;
   }
}
@media (max-width: 767.98px){
   .burger-header__list {
      font-size: 20px;
   }
}

@media (max-width: 630px){
   .menu-header__list li:nth-child(2), .menu-header__list li:nth-child(1) {
   display: none;
   }
   .burger-header__list li:nth-child(2), .burger-header__list li:nth-child(1) {
      display: block;
   }
}
@media (max-width: 470px){
   .button-header{
   display: none;
   }
   .burger-header__list li:nth-child(6) {
      display: block;
   }

}
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
.main__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   max-width: 100%;
   background-color: #afafaf;
}
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* ------------------------------------------------------- */


