@import url("nullstyle.css");
/* @import url("fonts.css"); */

.wrapper {
   font-family:"Poppins", sans-serif;
   overflow: clip;
   min-height: 100%;
   font-size: 0;
}

[class*="__container"] {
   max-width: 0px;
   margin: 0 auto;
   padding: 0px 15px;
}



/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* ------------------------------------------------------- */


