@import url("nullstyle.css");
@import url("fonts.css");

/* -------------------------------- */

body {
   
}
.header {
   font-family: "Monoton";
   background: #000;
}
.page {
   
}
.footer {
}
/* -------------------------------- */


.header__logo {
   font-size: 50px;
   color: #050090;
   padding: 10px 30px 20px 0px;
}
.header__menu {
   display: inline-block;
   vertical-align: 10px;
}
.menu__list li{
   color: #eed70a;
   display: inline-block;
   margin: 0px 20px 0px 0px;
}

/* -------------------------------- */
._container {
   max-width: 1050px;
   margin: 0px auto;
}
/* -------------------------------- */

.pege__platform {
   background-color: #231F8B;
   padding: 112px 0px;
}

/* -------------------------------- */

.platform__header-block {
   margin: 0px 0px 70px 0px;
}
.header-block__link {
   color: #5A54F2;
   font-family: "Montserrat","Circular-Std",sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 1.71;
   letter-spacing: 0.2px;
   margin: 0px 0px 10px 0px;
}
.header-block__title {
   color: #FFF;
   font-family: "Circular-Std","Montserrat",sans-serif;
   font-size: 36px;
   font-weight: 700;
   margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
   color: #FFF;
   font-family:  "Circular-Std","Montserrat",sans-serif;
   font-size: 14px;
   font-weight: 450;
   line-height: 1.42;
   letter-spacing: 0.2px;
}
/* -------------------------------- */
.platform__body {
   margin: 0px 0px 100px 0px;
   font-size: 0;
}
.platform__columns {
   width: 230px;
   padding: 35px 40px;
   background-color: #fff;
   display: inline-block;
   margin: 0px 30px 20px 0px;
   vertical-align: top;
}
.item-platform__icon {
   margin: 0px 0px 20px 0px;
}
.item-platform__title {
   color: #252B42;
   font-family: "Circular-Std","Montserrat" ,sans-serif;
   font-size: 16px;  
   font-weight: 700;
   line-height: 1.50;
   letter-spacing: 0.1px;
   margin: 0px 0px 20px 0px;
}
.item-platform__line {
   margin: 0px 0px 20px 0px;
}
.item-platform__sub-title {
   font-family: "Montserrat","Circular-Std",sans-serif;
   font-size: 14px;
   line-height: 1.42;
   letter-spacing: 0.2px;
   
}
.column-compliance {
   margin-top: 48px;
}
.column-management {
   background-color: #5A54F2;
}
.column-internal {
   margin: 48px -30px 0px 0px;
}
/* ----------------------------------- */
.advantages__header-block {
   margin: 0px 0px 50px 0px;
}
.page__advantages {
   background-color: #231F8B;
   padding: 112px 0px;
   font-family: "Doto";
   color: #000;
}


.advantages__column {
   background-color: #03f630;
   width: 400px;
   padding: 35px 40px;
   display: inline-block;
   text-align: center;
   margin: 0px 50px 30px 0px;
   vertical-align: bottom;
}

.item-advantages__icon {
   margin: 0px 0px 30px 0px;
}
.item-advantages__title {
   font-size: 20px;
   font-weight: 700;
   margin: 0px 0px 30px 0px;
   
}
.item-advantages__line {
   margin: 0px 0px 30px 0px;
}

.column-first {
   overflow: hidden;
   height: 300px;
}

.column-third {
   overflow: scroll;
}
.column-fourth {
   overflow: auto;
   height: 300px;
}
/* --------------------------- */

.test__01 {
   padding: 20px 30px 20px 30px;
}
.test__01-title {
   color: #f68f00;
   font-family: "Doto";
   font-weight: 900;
   font-size: 25px;
   line-height: 2;
}
.test__01-img {
   max-width: 500px;
   padding: 0px 30px 0px 0px;
}
.test__01-text {
   display: inline-block;
   font-weight: 700;
   vertical-align: top;
   width: 500px;
}