@import url("nullstyle.css");

h2 {
   color: red;
}
.blue {
   color: blue;
}
.yellow {
   color: yellow;
}
#title {
   color: green;
}
[class*="__info"]{
   color: rgb(233, 3, 241);
}
p.text {
   color: palegreen;
}
h3, li {
   color: rgb(239, 157, 5);
}
.text ~ p {
   color: rebeccapurple;
}
.page__navigation .list {
   color: blue;
}
.page__navigation > p {
   color: darkolivegreen;
}
.article-history + p {
   color: pink;
}

.article-independence p {
   color: darkblue;
}

.footer__info * {
   color: khaki;
}
